.ui.inverted.vertical.center.aligned.segment {
  background-image: url("https://images.unsplash.com/photo-1527348886649-3bd94dfd6694?ixlib=rb-0.3.5…yMDd9&s=31603f3…&auto=format&fit=crop&w=2767&q=80f");
  background-repeat: no-repeat;
  background-size: cover;
}

h1.ui.inverted.header.headerTitle {
  font-family: "Sriracha", cursive;
  font-size: 6em !important;
  margin-top: 2em !important;
}
