/* react teal = #00b8ae */

.ui.inverted.vertical.center.aligned.segment {
  background-image: url("https://images.unsplash.com/photo-1527348886649-3bd94dfd6694?ixlib=rb-0.3.5…yMDd9&s=31603f3…&auto=format&fit=crop&w=2767&q=80f");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  margin: 0 !important;
}

.nav-pills > li > a {
  border-radius: 4px;
  color: #00b8ae;
  font-size: 1.5em;
  font-weight: bold;
}

.nav {
  margin-top: 1%;
}

.profile-img-txt {
  position: relative;
  top: -350px;
  left: 5%;
  font-size: 2em;
  font-family: "Sriracha", cursive;
  color: white;
}

img.ui.image.profile-image {
  width: 100%;
  max-width: 100%;
  max-height: 400px;
}

.ui.container.profile-container {
  z-index: -1;
  position: relative;
  top: -5px;
  width: 100%;
  padding: 0;
}

.ui.segment:first-child {
  margin-top: 13px !important;
}

.ui.grid {
  margin-left: 1rem !important;
}

.ui.cards {
  margin-left: 9.5% !important;
  margin-top: 1% !important;
}

.my-saves {
  margin: 0;
}

.ui.segment {
  border: none !important;
  box-shadow: none !important;
}

h1.ui.inverted.header.headerTitle {
  font-family: "Sriracha", cursive;
}

.ui.modal.transition.visible.active {
  margin: auto;
  height: 50%;
  width: 65%;
}

a.ui.green.button.active {
  margin-top: 3%;
}

.experience-header {
  box-shadow: none;
  border: none;
}

input#countries-input {
  margin-left: 32%;
  margin-right: 32%;
}

form.ui.form {
  text-align: center;
}

.ui.form .field {
  clear: both;
  margin: 5% 0 1em;
}

input {
  max-width: 35%;
  margin: auto;
}

img.ui.image {
  max-height: 200px;
  max-width: 300px;
}

.content {
  text-align: center;
}

.jumbotron {
  background-color: #fff;
  margin-top: 5%;
  text-align: center;
  padding: 0;
}

hr {
  border: 0.5px solid red;
  width: 15%;
  position: relative;
  top: 20px;
  bottom: 20px;
}

.country {
  line-height: 1.5;
  margin: 0 50px 0 50px;
  border: none;
  box-shadow: none;
}

.country-description {
  border: none;
  box-shadow: none;
  font-size: 1.2em;
  line-height: 2.2;
}
.country-info {
  position: relative;
  top: 75px;
  margin-bottom: 75px;
}

.tab {
  position: relative;
  top: 20px;
}

.Experience-description {
  margin: 0 10%;
  line-height: 2;
  font-size: 1.3;
  font-size: 1.3em;
}

.ui.header.packing-list-title {
  font-size: 2em;
}

.ui.segment.packing-list {
  position: relative;
  left: 30%;
  margin-top: 6%;
}

.ui.three.column.grid {
  font-size: 1.2em;
  margin-top: 2%;
}

.item.packing-list-item {
  margin: 3%;
}

.ui.segment.other-info {
  margin: 5% 15% 8% 30%;
}

.ui.header.other-info-title {
  font-size: 2em;
  margin-bottom: 7%;
}

table.ui.very.basic.table.other-info {
  font-size: 15px;
}

.ui.heart.rating .icon {
  font-size: 2em;
}

.heart-title {
  display: flex;
  align-items: center;
}

.ex-row {
  position: relative;
  left: 3%;
  font-size: 1.2em;
}

.ex-row-txt {
  line-height: 1.8;
}

img.ui.image.ex-img {
  max-width: 100%;
}

.header.ex-card-header {
  font-size: 1.1em;
  color: black;
}

.twelve.wide.column.ex-row {
  position: relative;
  left: 30px;
}
